.About {
  width:100%;
}

#trex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  width:auto;
}

#whatis {
  width:100%;
  text-align:center;
}

.quizzozaure {
  font-size:18px;
  margin: auto;
  text-align: center;
  width:60%;
  padding: 10px;
}

#team {
  width:100%;
  text-align:center;
}

#teampres {
  font-size:18px;
  margin: auto;
  text-align: center;
  width:80%;
  padding: 10px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 480px) {
  .quizzozaure {
    font-size:18px;
    margin: auto;
    text-align: center;
    width:60%;
    padding: 10px;
  }
  
  #teampres {
    font-size:18px;
    margin: auto;
    text-align: center;
    width:60%;
    padding: 10px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .quizzozaure {
    font-size:18px;
    margin: auto;
    text-align: center;
    width:80%;
    padding: 10px;
  }
  
  #teampres {
    font-size:18px;
    margin: auto;
    text-align: center;
    width:80%;
    padding: 10px;
    padding-bottom: 60px;
  }

}