.toukolai {
    display: flex;
  }
  
  #checkboxdupauvre {
    vertical-align: auto;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    ~ p {
      margin: 0;
      margin-left: 5px;
    }
  }
  .notChecked {
    background-color: white;
    border: 1px solid black;
  }
  .checked {
    background-color: black;
    border: 1px solid white;
  }
  