.Home {
  width: 100%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: auto;
}

#par {
  font-size: 28px;
  display: block;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-auth {
  align-self: center;
  margin: 2%;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  padding: 5px;
  background-color: transparent;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
}


#hiddenlink:hover {
  cursor: context-menu;
}

@media only screen and (min-width: 480px) {
  #logo {
    margin-top: 10%;
  }

  #btn-play {
    margin-top:2%;
    border: solid 2px rgb(183, 165, 107);
    border-radius:10px;
    font-size:24px;
    padding:4px;
    background-color: rgb(212, 196, 145);
  }
  #btn-play {
    transition: transform 0.5s ease-in-out;
  }
  
  #btn-play:hover {
    border: solid 2px rgb(160, 144, 89);
    text-decoration: none;
    background-color: rgb(186, 169, 114);
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 480px) {
  #logo {
    margin-top: 30%;
  }
  
  #btn-play {
    margin-top:5%;
    border: solid 2px rgb(183, 165, 107);
    border-radius:10px;
    font-size:24px;
    padding:4px;
    background-color: rgb(212, 196, 145);
  }
  
}

