form {
    width:220px;
}

#titleform {
    text-align: center;
}

#reglink {
    text-align:center;
    margin-top:1%;
  }

  @media only screen and (min-width: 480px) {
    #logform{
      margin-top:10%;
    }
  }
    
    @media only screen and (max-width: 480px) {
    #logform{
        margin-top:30%;
      }
  }