  #titleformreg {
    text-align: center;
  }
  
  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button-form {
    background-color: rgb(165, 97, 42);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  #loglink {
    text-align:center;
    margin-top:1%;
  }

  @media only screen and (min-width: 480px) {
    /* styles for devices with a minimum screen width of 480px */
    #regform{
      margin-top:10%;
    }
  }
    
    @media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
    #regform{
        margin-top:20%;
      }
  }