.profile {
    margin: auto;
    width: 250px;
    padding: 10px;
    background-color: beige;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid rgb(206, 206, 173);
}

#proftitle {
    text-align: center;
}

#maildiv {
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid rgb(206, 206, 173);
    background-color: rgb(236, 236, 201);
    padding: 5px;
}

#usernamediv {
    border-radius: 5px 5px 5px 5px;
    border: 3px solid rgb(206, 206, 173);
    background-color: rgb(236, 236, 201);
    padding: 5px;
}


#profname,
#profmail,
#profelo {
    margin-top: 0;
}

.editbtn {
    border-radius: 5px 5px 5px 5px;
    width: 10%;
    padding: 2px 5px 0px 5px;
    background-color: rgb(165, 97, 42);
    border: none;
    cursor: pointer;

    float: right;
    margin-top: -18%;
    margin-right: 1%;
}

#elodiv {
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid rgb(206, 206, 173);
    background-color: rgb(236, 236, 201);
    padding: 5px;
}

@media only screen and (min-width: 480px) {
    .profile {
        margin-top: 5%;
    }

}

@media only screen and (max-width: 480px) {
    .profile {
        margin-top: 15%;
    }
}