.trice {
    height: 42px;
    margin:0;
}

#title{
  margin:0;
}

#titlelink{
  display:flex;
  justify-content:center;
  align-items: center;
}

#titlelink:hover{
  text-decoration: none;
  background-color:inherit;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(183, 165, 107);
}

.dropdown {
  float:right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

#profilebtn{
  border:2px solid rgb(169, 154, 101);
  background-color:rgb(204, 192, 140);
  border-radius:50%;
  padding:10px;
  outline: none;
  font-family: inherit;
  margin: 0;
}

#profilebtn:hover{
  background-color:rgb(169, 154, 101);
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(183, 165, 107);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(215, 197, 135) ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(183, 165, 107);
}

.dropdown .dropdown-content {
  display: block;
}

.navbar{
  padding-right: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  background-color:rgb(215, 197, 135) ;
}

.dropdown-link:hover{
  text-decoration: none;
}

.dropbtn i.fa-bars {
  transition: transform 0.5s ease;
}

.rotate i.fa-bars {
  transform: rotate(90deg);
}