#change-page {
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
    width: 40%;
}

#change-page button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(78, 72, 69);
    color: white;
    cursor: pointer;
}

#change-page button:disabled {
    background-color: #6C757D;
    cursor: not-allowed;
}